# This is a basic workflow to help you get started with Actions

name: Test and Publish to NPMJS

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Test Suite
        run: |
          yarn
          yarn lint

      - name: Setup Node.js
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: actions/setup-node@v2
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'

      - name: Publish to NPM
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          
      - name: github-pages testapp
        run: |
          yarn install --frozen-lockfile
          yarn gh-pages
          cd gh-pages
          git config --global user.email "uoe-eng-ci@example.com"
          git config --global user.name "UOE-ENG CI"
          git init -b gh-pages
          git add -A
          git commit -m 'Github Workflow - CI gh-pages commit'
          git push -f https://mrichar1:${{ secrets.GITHUB_TOKEN }}@github.com/uoe-eng/tabularasa.git gh-pages
        shell: bash
